{% extends "base.html" %}
{% block additional_head %}
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_detection/face_detection.js" crossorigin="anonymous"></script>
{% endblock %}
{% block subtitle %}
    <strong>안면 탐지</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <video class="input_video"></video>
            <canvas class="output_canvas" width="800px" height="450px"></canvas>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script type="module">
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const canvasCtx = canvasElement.getContext('2d');

        function onResults(results) {
            // Draw the overlays.
            canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);
            if (results.detections.length > 0) {
                drawingUtils.drawRectangle(canvasCtx, results.detections[0].boundingBox,
                    {color: 'blue', lineWidth: 4, fillColor: '#000000'}
                );
                drawingUtils.drawLandmarks(canvasCtx, results.detections[0].landmarks, 
                    {color: 'red', radius: 5}
                );
            }
            canvasCtx.restore();
        }

        const faceDetection = new FaceDetection({locateFile: (file) => {
            return `https://cdn.jsdelivr.net/npm/@mediapipe/face_detection@0.0/${file}`;
        }});
        faceDetection.setOptions({
            modelSelection: 0,
            minDetectionConfidence: 0.5
        });
        faceDetection.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await faceDetection.send({image: videoElement});
            },
            width: 480,
            height: 270
        });
        camera.start();
    </script>
{% endblock %}