{% extends "base.html"%}
{% block style_head %}

{% endblock %}
{% block body %}
  <div class="wrap">
    <div class="container">
      <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Cat_plotting_something_evil%21.jpg">
        <div class="card__head">파손</div>
      </div>
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/False_alarm_-a.jpg/1280px-False_alarm_-a.jpg">
        <div class="card__head">이격</div>
      </div>
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Neugierige-Katze.JPG/1280px-Neugierige-Katze.JPG">
        <div class="card__head">스크래치</div>
      </div>
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        <div class="card__head">찌그러짐</div>
      </div>
      <div class="card">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Al_acecho_%289272124788%29.jpg/1280px-Al_acecho_%289272124788%29.jpg">
        <a href="/function"><button class="card__head">입력하러 가기</button></a>
      </div>
    </div>
{% endblock %}
  